section {
    display: -webkit-flex;
    display: flex;
  }

  
.header{
    width: 300px;
    height: 180px;
    background-image: url('https://picserio.com/data/out/489/white-and-blue-wallpaper_6890377.jpg');
}

.colomnmain{
    width : 200px;
    height : auto;
    position : fixed;
    background-color: yellow;
}

.colomnmsec{
    width : 584px;
    height : auto;
    margin-left: 205px;
}

.footer {
    width: 784px;
    height: 100px;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}